<% provide(:about, "active") %>
<% provide(:title, "About") %>

<!-- Page Content -->
    <div class="container" id="about">

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">About disABLEDperson, Inc.</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <%= image_tag("dp_circle.png", style: "width: 65px", class: "img-circle img-responsive img-center") %>
                <p>JOFDAV is a job board by disABLEDperson, Inc., which is a 501(c)3 non-profit organization whose mission is to reduce the high unemployment rate of individuals and veterans with disabilities. disABLEDperson, Inc. accomplishes this through our online job board for veterans with disabilities. </p>
                <p>
                  <a href="https://www.jofdav.com">www.JOFDAV.com</a> features nearly 350,000 active jobs froma cross the country. These disability job opportunities are listings from employers who are proactive in hiring of the disabled. We have listings in all different categories, including work from home.
                </p>
                <p>
                  Disability employment is our main goal at disABLEDperson, Inc. We work with employers who ar eproactive in the hiring of people with disabilities and who are looking to increase outreach efforts. We applaud employers who are stepping into the skilled workforce of the disability community.
                </p>
                <p>
                  Individuals who are disabled do not want to use their disability as a reason not to work, our community members want employers to know they are here with skills.
                </p>
                <p>
                  If you are an employer looking to get started, or a job seeker looking for employment, sign up now!
                </p>
                  <hr>
                  <a class="btn btn-primary btn" href="https://www.jofdav.com/signup?" role="button">Register and Sign up now! &raquo;</a>
            </div>
            <div style="float:right">
              <a class="twitter-timeline"  href="https://twitter.com/VetjobsdisABLED" data-widget-id="562721229199900673">Tweets by @VetjobsdisABLED</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer align="right">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; disABLEDperson, Inc.</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
