<% provide(:home, "active") %>
<% provide(:title, "Home") %>

    <div class="jumbotron">
      <div class="container">
        <h1>If I can't fix it, I won't!</h1>
        <p>Need to make your site accessible, and unsure of where to look? We want to make online sites, products, and services more accessible. If you have something that you want tested, we can help you. We will test your site, service, or process and give you a report that will document how you can improve the experience. We have a robust network who can help you. Have people offer services here... like a hired area.</p>
        <p><a class="btn btn-default btn-lg" href="/about" role="button">More about the Go to Guy! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Repairs</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">Request Repair &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Installations</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">Request Installation &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Electical</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">Request Electrical &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Go To Guy, Inc.</p>
      </footer>
    </div> <!-- /container -->
