<% provide(:home, "active") %>
<% provide(:title, "Home") %>

    <div class="jumbotron">
      <div class="container" id="main">
        <img src="<%= image_path "dp_banner.png" %>" alt="disABLEDperson, Inc.">
        <hr>
        <p>
          The goal of this site is to help bring jobs to individuals with disabilities, and provide opportunity for <a href="https://www.disabledperson.com/signup?">employers to advertise their jobs.</a>
        </p>
        <p>
          If you have a disability, we want to help you find employment. If you are looking to recruit individuals with disabilities, we can help! We are happy that you chose to look at our <%= link_to "job opportunities", jobs_path %>. Whether you found them through your iPad, iPhone, or computer, we are happy you are here!
        </p>
        <p>This website is a job search website property of disABLEDperson, Inc., a 501(c)3 public charity for people with disabilities. We accomplish our mission to reduce the high unemployment rate of individuals with disabilities through our marquee job board: <a href="https://www.disabledperson.com">www.disABLEDperson.com.</a></p>
        <hr>
        <p>
          Please feel free to look around the site, and if you have any questions please do not hesitate to contact us!
        </p>
        <br>
        <p><a class="btn btn-primary btn" href="/about" role="button">More about disABLEDperson, Inc. &raquo;</a></p>
      </div>
    </div>

    <div class="container" id="main">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Tips for Recruiting</h2>
          <p>If you are an employer that has to meet specific compliance regulations or laws around the employment of individuals with disabilities, we have some helfpul resources for you. </p>
          <p><a class="btn btn-default" href="https://www.disabledperson.com/tips-recruiting-ewd" role="button"> Recruiting Tips &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Our Partners</h2>
          <p>We have the mindset that to accomplish the work we are doing, we cannot do it without our great partners. disABLEDperson, Inc. is proud to be collaborating with the following organizations:</p>
          <p><a class="btn btn-default" href="https://www.disabledperson.com/our-partners" role="button">disABLEDperson, Inc. Partners &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contact Us</h2>
          <p>We are excited to work with you. If you have any questions, or would like to request more information, please contact us and we will get back to you to beging supporting you.</p>
          <p><a class="btn btn-default" href="https://www.disabledperson.com/contact" role="button">Contact Info &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer align="right">
        <p>&copy; 2017 disABLEDperson, Inc.</p>
      </footer>
    </div> <!-- /container -->
