<% provide(:jobs, "active") %>
<% provide(:title, "Jobs") %>

<div class="container">
  <div class="list-group col-xs-6" align="center">
    <a href="https://www.disabledperson.com/jobs/categories/accounting" class="list-group-item">Accounting Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/admin-clerical" class="list-group-item">Admin-Clerical Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/advertising" class="list-group-item">Advertising Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/architecture" class="list-group-item">Architecture Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/art" class="list-group-item">Art Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/automotive" class="list-group-item">Automotive Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/aviation-aerospace" class="list-group-item">Aviation/Aerospace Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/banking" class="list-group-item">Banking Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/general-business" class="list-group-item">Business Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/business-development" class="list-group-item">Business Development Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/collections" class="list-group-item">Collection Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/compliance" class="list-group-item">Compliance Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/construction" class="list-group-item">Construction Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/consultant" class="list-group-item">Consultant Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/customer-service" class="list-group-item">Customer Service Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/design" class="list-group-item">Design Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/distribution-shipping" class="list-group-item">Distribution Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/drivers" class="list-group-item">Drivers Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/education" class="list-group-item">Education Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/engineering" class="list-group-item">Engineering Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/entertainment-gaming-casino" class="list-group-item">Entertainment-Gaming-Casino Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/executive" class="list-group-item">Executive Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/facilities" class="list-group-item">Facilities Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/general-labor" class="list-group-item">General Labor Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/government" class="list-group-item">Government Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/health-care" class="list-group-item">Healthcare Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/hospitality-hotel" class="list-group-item">Hospitality-Hotel Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/human-resources" class="list-group-item">Human Resources Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/information-technology" class="list-group-item">Information Technology JObs</a>
    <a href="https://www.disabledperson.com/jobs/categories/installation-maint-repair" class="list-group-item">Installation-Maint-Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/insurance" class="list-group-item">Insurance Jobs</a>

  </div>

  <div class="list-group col-xs-6" align="center">
    <a href="https://www.disabledperson.com/jobs/categories/legal" class="list-group-item">Legal Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/legal-admin" class="list-group-item">Legal-Admin Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/management" class="list-group-item">Management Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/manufacturing" class="list-group-item">Manufacturing Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/marketing" class="list-group-item">Marketing Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/media-journalism-newspaper" class="list-group-item">Media-Journalism-Newspaper Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/military-defense" class="list-group-item">Military-Defense Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/nonprofit-social-services" class="list-group-item">Nonprofit-Social Services Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/nurse" class="list-group-item">Nurse Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/other" class="list-group-item">Other Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/pharmaceutical" class="list-group-item">Pharmaceutical Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/police-fire-emergency" class="list-group-item">Police-Fire-Emergency Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/professional-services" class="list-group-item">Professional Services Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/project-management" class="list-group-item">Project Management Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/public-relations" class="list-group-item">Public Relations Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/purchasing-procurement" class="list-group-item">Purchasing- Procurement Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/real-estate" class="list-group-item">Real Estate Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/research" class="list-group-item">Research Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/restaurant-food-service" class="list-group-item">Restaurant-Food Services Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/retail" class="list-group-item">Retail Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/sales" class="list-group-item">Sales Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/salon-spa-fitness" class="list-group-item">Salon-Spa-Fitness Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/science" class="list-group-item">Science Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/security" class="list-group-item">Security Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/skilled-labor-trades" class="list-group-item">Skilled Labor-Trade Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/software" class="list-group-item">Software Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/strategy-planning" class="list-group-item">Software-Planning Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/telecommunications" class="list-group-item">Telecommunications Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/transportation" class="list-group-item">Transportation Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/warehouse" class="list-group-item">Warehouse Jobs</a>
    <a href="https://www.disabledperson.com/jobs/categories/writing-editing" class="list-group-item">Writing-Editing Jobs</a>
  </div>

</div>
