@import "bootstrap-sprockets";
@import "bootstrap";

@import 'navbar';

.jumbotron {
  background-color: white;

}

.row .col-lg-12#about-info {
  background-color: #f0f0f5;
}

.marketing-caption {
  z-index: 10;
  padding-bottom: 0;
  background-color: #225589;
  font-weight: bold;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  width: 100%;
  margin: 40px auto;
  font-size: 24px;
}
.marketing-caption p{
  margin:0;
}

.container#main {
  width: 0%auto;max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
